body {
    margin: 0;
    padding: 40px 0;
    font-family: Arial, sans-serif;
    background-color: #e8f6ef;
    display: flex;
    justify-content: center;
}

/* --- TARJETA PRINCIPAL --- */
.card {
    width: 90%;
    max-width: 650px;
    margin: 60px auto;
    background: #ffffff;
    padding: 40px;
    border-radius: 22px;
    text-align: center;

    border-top: 10px solid #0a3d2a;
    border-bottom: 10px solid #d4a017;

    box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.15);
}

/* Imagen del producto */
.product-img {
    width: 200px;
    border-radius: 12px;
    margin-bottom: 20px;
}

/* TÍTULOS */
h1 {
    color: #0a3d2a;
    margin: 10px 0;
}

h2 {
    color: #065a3f;
    margin-bottom: 20px;
}

/* DESCRIPCIÓN */
p {
    max-width: 450px;
    margin: 0 auto 25px auto;
    color: #444;
    font-size: 15px;
}

/* CANTIDAD */
.qty-box {
    margin-bottom: 25px;
}

.qty-box input {
    padding: 6px 10px;
    font-size: 16px;
    border: 2px solid #0a3d2a;
    border-radius: 8px;
    text-align: center;
    width: 80px;
}

/* BOTÓN PRINCIPAL */
.btn {
    background: #0a0f88;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

/* LINK VOLVER */
.back {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #0a0f88;
}

/* --- MODAL --- */
.modal {
    display: none;
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.55);
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.modal-content {
    background: #fff;
    padding: 25px;
    border-radius: 15px;
    width: 330px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.modal-content input {
    width: 90%;
    padding: 10px;
    margin-top: 14px;
    margin-bottom: 6px; 
    border-radius: 8px;
    border: 2px solid #0a3d2a;
    text-align: center;
}

#sendOrder {
    margin-top: 15px;
    padding: 12px 20px;
    background: #0a0f88;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.close {
    float: right;
    cursor: pointer;
    font-size: 20px;
}

