body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e8f6ef;
}

.container {
    text-align: center;
    padding: 20px;
}

img {
    width: 180px;
    border-radius: 10px;
}

h1 {
    color: #0a3d2a;
    margin-top: 10px;
}

h2 {
    color: #065a3f;
}

p {
    max-width: 500px;
    margin: auto;
    color: #333;
}

#qty {
    padding: 8px;
    border-radius: 8px;
    border: 2px solid #0a3d2a;
    width: 80px;
    text-align: center;
    margin-bottom: 20px;
}

#confirmBtn {
    padding: 12px 25px;
    background: #0a0f88;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.back {
    margin-left: 15px;
    color: #0a0f88;
    text-decoration: none;
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 15px;
    width: 350px;
    text-align: center;
}

.close {
    float: right;
    cursor: pointer;
    font-size: 20px;
}

#userName, #userArea {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    border: 2px solid #0a3d2a;
}

#sendOrder {
    margin-top: 15px;
    padding: 12px 20px;
    background: #0a0f88;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
