body {
    background: #eef6f1;
    font-family: "Segoe UI", Arial, sans-serif;
    color: #2a3d34;
    padding: 20px;
}

.buy-container {
    width: 90%;
    max-width: 800px;
    background: white;
    margin: auto;
    margin-top: 40px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.15);
    text-align: center;
    border-top: 6px solid #0b5e45;
    border-bottom: 6px solid #daa520;
}

.buy-img {
    width: 200px;
    margin-bottom: 15px;
}

.price {
    font-size: 26px;
    font-weight: bold;
    color: #0b5e45;
    margin: 10px 0;
}

.quantity input {
    width: 70px;
    padding: 7px;
    font-size: 16px;
    text-align: center;
    border: 2px solid #0b5e45;
    border-radius: 8px;
}

.btn-buy-final {
    background: #1a1a80;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    transition: 0.3s;
    display: block;      /* fuerza a ocupar toda la línea */
    margin: 20px auto;   /* centra el botón */
}

.back-link {
    display: block;      /* lo manda a la siguiente línea */
    margin-top: 20px;
    text-align: center;
}

.btn-buy-final:hover {
    background: #0000cc;
}

/* Modal */
.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
}

.modal-content {
    position: relative;
    background: white;
    padding: 40px;
    border-radius: 15px;
    max-width: 400px;
    text-align: center;
}

.input-modal {
    width: 90%;
    padding: 10px;
    margin: 8px 0 15px;
    border: 2px solid #0b5e45;
    border-radius: 8px;
}

.close {
    position: absolute;
    top: 15px;             /* baja la X */
    right: 20px;           /* la coloca a la derecha elegantemente */
    font-size: 24px;
    color: #333;
    cursor: pointer;
    font-weight: bold;
}