body {
    margin: 0;
    padding: 40px 0;
    font-family: Arial, sans-serif;
    background-color: #e8f6ef;
    display: flex;
    justify-content: center;
}

.card {
    background: white;
    width: 60%;
    max-width: 750px;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
    border-top: 8px solid #0a3d2a;
    border-bottom: 8px solid #eab308;
}

.product-img {
    width: 180px;
}

h1 {
    color: #0a3d2a;
}

h2 {
    color: #065a3f;
}

p {
    margin-top: 10px;
    color: #333;
}

.qty-box {
    margin-top: 20px;
}

input {
    padding: 8px;
    border-radius: 8px;
    border: 2px solid #0a3d2a;
    width: 80px;
    text-align: center;
}

.btn {
    margin-top: 20px;
    padding: 12px 25px;
    background: #0a0f88;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.back {
    display: block;
    margin-top: 15px;
    color: #0a0f88;
    text-decoration: none;
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 15px;
    width: 350px;
    text-align: center;
}

.close {
    float: right;
    cursor: pointer;
    font-size: 20px;
}

#sendOrder {
    padding: 12px 20px;
    background: #0a0f88;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
