body {
margin: 0;
background: #e4f5ed;
font-family: Arial, sans-serif;
}

.navbar {
background: #0a3d2a;
color: white;
padding: 12px 20px;
display: flex;
justify-content: space-between;
align-items: center;
}

.logo {
font-size: 20px;
font-weight: bold;
}

.login-btn {
background: #001b79;
padding: 8px 15px;
border: none;
color: white;
border-radius: 8px;
cursor: pointer;
}

.cart-box {
font-size: 16px;
cursor: pointer;
background: white;
padding: 8px 12px;
border-radius: 8px;
color: #0a3d2a;
border: 2px solid #0a3d2a;
}

.main-title {
text-align: center;
margin-top: 25px;
color: #0a3d2a;
}

.container {
display: flex;
justify-content: center;
margin-top: 20px;
}

.products {
width: 90%;
display: grid;
grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
gap: 25px;
padding-bottom: 40px;
}

.product-card {
background: white;
padding: 15px;
border-radius: 15px;
text-align: center;
box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.product-card img {
height: 110px;    
width: 150px;
}

.price {
font-size: 16px;
color: #0a3d2a;
margin: 8px 0;
}

.qty-box {
margin-top: 10px;
}

.qty-box input {
width: 50px;
padding: 5px;
border-radius: 8px;
border: 2px solid #0a3d2a;
text-align: center;
}

.addBtn {
margin-top: 12px;
padding: 8px 15px;
background: #001b79;
border: none;
color: white;
border-radius: 10px;
cursor: pointer;
}

.qtyBadge {
    font-weight: bold;
}

.footer {
text-align: center;
background: #0a3d2a;
color: white;
padding: 12px;
margin-top: 30px;
}

